<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd" >
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/RequestAttention" />
		<property name="username" value="root" />
		<property name="password" value="usbw" />
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>co/edu/udea/wi/dto/Answer.hbm.xml</value>
				<value>co/edu/udea/wi/dto/Attendant.hbm.xml</value>
				<value>co/edu/udea/wi/dto/Customer.hbm.xml</value>
				<value>co/edu/udea/wi/dto/Request.hbm.xml</value>
				<value>co/edu/udea/wi/dto/RequestState.hbm.xml</value>
				<value>co/edu/udea/wi/dto/RequestType.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="RequestStateDaoBean" class="co.edu.udea.wi.dao.impl.RequestStateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="RequestTypeDaoBean" class="co.edu.udea.wi.dao.impl.RequestTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="CustomerDaoBean" class="co.edu.udea.wi.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="RequestDaoBean" class="co.edu.udea.wi.dao.impl.RequestDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="AttendantDaoBean" class="co.edu.udea.wi.dao.impl.AttendantDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="AnswerDaoBean" class="co.edu.udea.wi.dao.impl.AnswerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="RequestTypeBlBean" class="co.edu.udea.wi.bl.impl.RequestTypeBlImpl">
	</bean>
	<bean id="RequestStateBlBean" class="co.edu.udea.wi.bl.impl.RequestStateBlImpl">
	</bean>
	<bean id="CustomerBlBean" class="co.edu.udea.wi.bl.impl.CustomerBlImpl">
	</bean>
	<bean id="AttendantBlBean" class="co.edu.udea.wi.bl.impl.AttendantBlImpl">
	</bean>
	<bean id="RequestBlBean" class="co.edu.udea.wi.bl.impl.RequestBlImpl">
	</bean>
	<bean id="AnswerBlBean" class="co.edu.udea.wi.bl.impl.AnswerBlImpl">
	</bean>

	<context:component-scan base-package="co.edu.udea.wi.ws.rest" />
</beans>
